<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <form class="word_entry" action="/anagram" method="post">
    Word to check for anagrams: <input type="text" name="word">
    <input id="button" type ="submit" value="Search!">
  </form>

</div>
